body {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	}
body {
	background-color: #F9DA74;
	}

p {
	font-style: italic;
}

li{
	font-size: 120%;
}

   button {
        background-color: #D4D3D2;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
    
    a:link {
    color: #900707;
}

a:visited {
    color: #BF4B4B;
}

        